.content {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    border-bottom: 1px solid grey;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover {
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

.logo-img {
    height: 60px;
}

.location-intro {
    width: 100vw;
    height: auto;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('../assets/location1_opt.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 30vh;
    padding-left: 2vw;
    box-shadow: 0px -4px 5px -1px gray;
}

.location-intro-text {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    padding: 5vw;
}

.location-intro-text-title {
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
}

.location-intro-text-subtitle {
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
}

.food-intro {
    height: auto;
    box-shadow: 0 4px 5px -1px gray;
    background-color: white;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10vh;
}

.food-intro-hover-images-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.food-intro-image-container {
    position: relative;
    padding: 0;
    margin-bottom: 5vh;
    margin: 0;
}

.food-intro-image {
    width: 90vw;
    padding-bottom: 10vh;
}

.food-intro-text {
    margin: 5vw;
    text-align: center;
}

.food-intro-text-title {
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
    color: #6e602f;
}

.food-into-text-subtitle {
    text-align: justify;
}

.app-bar-link {
    display: none;
}

.nav-drawer-link {
    font-family: "Bergell";
    font-size: 1.3rem;
    padding-right: 1.3vw;
    font-weight: bold;
    color: #6e602f !important;
    visibility: visible;
}

.fab-menu {
    visibility: hidden;
}

.wl-appbar-spacer {}

.welcome-screen {
    height: 80vh;
    width: 100vw;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('../assets/food_landing_banner_opt.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 4px 5px -1px gray;
}

.welcome-container {
    height: auto;
}

.welcome-img {
    height: 449px;
    padding: 0;
    margin: 0;
    margin-bottom: 10vh;
}

.welcome-text-container {
    text-align: center;
    margin: 5vw;
    padding: 0;
    width: 100vw;
}

.welcome-text-heading {
    font-family: "Bergell";
    color: #6e602f;
}

.minigolf-intro {
    height: auto;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('../assets/minigolf_opt.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 60vh;
    padding-left: 2vw;
    box-shadow: 0px -4px 5px -1px gray;
}

.ratings-container {
    width: 100vw;
    height: auto;
}

.rating-carousel {
    display: flex;
    flex-direction: column;
}

.rating-card {
    width: 100vw;
}

.ratings-container-skeleton {
    display: flex;
    flex-direction: column;
}

.rating-skeleton-card {
    min-width: 80vw;
}

.partner-logo-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.menu-dish-title {
    color: #6e602f;
}