@font-face {
    font-family: "Bergell";
    src: url('../fonts/Bergell Std Regular.otf') format('truetype');
}

.app-bar-title {
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    color: white;
}

.app-bar-link {
    font-family: "Bergell";
    font-size: 1.3rem;
    padding-right: 1.3vw;
    font-weight: bold;
    color: #6e602f !important;
}

.content {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.content-first {
    /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/banner1.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vw;
    width: 100vh;
}

.header {
    background: transparent;
    border: none;
    padding-top: 3vh;
    position: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.5rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
    z-index: 99;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover {
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

.logo-img {
    height: 60px;
}

.rating-card {
    min-width: 250px;
}

.location-intro {
    height: 100vh;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('../assets/location1_opt.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 60vh;
    padding-left: 2vw;
    box-shadow: 0px -4px 5px -1px gray;
}

.location-intro-text-title {
    color: white;
    /* font-family: 'Satisfy', cursive; */
    font-family: "Bergell";
    font-size: 2.5rem;
    width: auto;
}

.location-intro-text-subtitle {
    color: white;
    width: 40vw;
}

.food-intro {
    height: 50vh;
    box-shadow: 0 4px 5px -1px gray;
    /* background-color: #E7E7E6; */
    background-color: white;
}

.food-intro-text {
    margin: 5vw;
    text-align: center;
}

.food-intro-text-title {
    /* font-family: 'Satisfy', cursive; */
    font-family: "Bergell";
    font-size: 2.5rem;
    color: #6e602f;
}

.food-into-text-subtitle {
    text-align: justify;
}

.food-intro-image {
    height: 30vh;
}

.ratings-container {
    width: 100%;
    box-shadow: 0 4px 5px -1px gray;
}

.ratings-title {
    /* font-family: 'Satisfy', cursive; */
    font-family: "Bergell";
    font-size: 2.5rem;
    color: #6e602f;
}

.food-banner {
    height: 80vh;
    width: 100%;
    background: url('../assets/food_welcome_opt.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 2;
    box-shadow: 0 4px 5px -1px gray;
}

.food-menu-list {
    padding-left: 10vw !important;
}

.food-banner-subtitle {
    color: white;
}

.food-menu-container {
    background: white;
    margin-top: 5vh;
    width: 70vw;
    padding-bottom: 20vh;
}

.site-title {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
    color: #6e602f;
}

.fade-enter-active {
    transition: opacity .8s;
}

.fade-enter {
    opacity: 0;
}

.menu-categorie-title {
    padding-bottom: 5vh;
    padding-top: 10vh;
    text-decoration: underline;
}

.cursive {
    font-style: italic;
}

.menu-dish-title {
    color: #6e602f;
}